plug(
  Oasis.Plug.RequestValidator,
  <%= [:query_schema, :cookie_schema, :header_schema, :body_schema] |> Enum.reduce([], fn(k, acc) ->
    value = Map.get(router, k)
    if value != nil do
      rendered =
        if k == :body_schema,
          do: Mix.Oasis.render_body_schema(value),
          else: Mix.Oasis.render_parameter_schemas(value)

      ["#{k}: #{rendered}" | acc]
    else
      acc
    end
  end) |> Enum.join(",\n") %>
)
